.desktop-site {
  width: 10701px;
  height: 13820px;
  background-color: #ffffff;
  border: 32px solid;
  border-color: #000000;
}

.desktop-site .group {
  position: relative;
  width: 10700px;
  height: 13820px;
}

.desktop-site .group-wrapper {
  position: absolute;
  width: 10700px;
  height: 550px;
  top: 13270px;
  left: 0;
  background-color: #ffffff;
}

.desktop-site .element-DANIEL-AUSTIN-wrapper {
  position: relative;
  width: 8075px;
  height: 218px;
  top: 166px;
  left: 1274px;
}

.desktop-site .element-DANIEL-AUSTIN {
  position: absolute;
  width: 8073px;
  top: 0;
  left: 0;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 200px;
  letter-spacing: 0;
  line-height: 220px;
  white-space: nowrap;
}

.desktop-site .div {
  position: absolute;
  width: 10700px;
  height: 550px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.desktop-site .group-2 {
  position: absolute;
  width: 2169px;
  height: 198px;
  top: 176px;
  left: 8524px;
}

.desktop-site .text-wrapper {
  position: absolute;
  width: 721px;
  top: 0;
  left: 1442px;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 200px;
  letter-spacing: 0;
  line-height: 220px;
  white-space: nowrap;
}

.desktop-site .text-wrapper-2 {
  position: absolute;
  width: 721px;
  top: 0;
  left: 721px;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 200px;
  letter-spacing: 0;
  line-height: 220px;
  white-space: nowrap;
}

.desktop-site .text-wrapper-3 {
  position: absolute;
  width: 721px;
  top: 0;
  left: 0;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 200px;
  letter-spacing: 0;
  line-height: 220px;
  white-space: nowrap;
}

.desktop-site .layer {
  position: absolute;
  width: 258px;
  height: 236px;
  top: 158px;
  left: 362px;
}

.desktop-site .overlap {
  position: absolute;
  width: 10702px;
  height: 2202px;
  top: 550px;
  left: 0;
}

.desktop-site .overlap-group-wrapper {
  position: absolute;
  width: 10702px;
  height: 1630px;
  top: 0;
  left: 0;
}

.desktop-site .overlap-group {
  position: relative;
  width: 10700px;
  height: 1630px;
  background-color: #ffffff;
}

.desktop-site .p {
  position: absolute;
  width: 9963px;
  top: 331px;
  left: 368px;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 330px;
  letter-spacing: 0;
  line-height: 332px;
}

.desktop-site .img {
  position: absolute;
  width: 10372px;
  height: 604px;
  top: 1598px;
  left: 156px;
}

.desktop-site .group-3 {
  position: absolute;
  width: 4790px;
  height: 10176px;
  top: 2974px;
  left: 314px;
}

.desktop-site .i-AM-a-MULTI {
  top: 6855px;
  position: absolute;
  width: 4782px;
  left: 0;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 204px;
  letter-spacing: 0;
  line-height: 206px;
}

.desktop-site .i-AM-a-MULTI-2 {
  top: 8093px;
  position: absolute;
  width: 4782px;
  left: 0;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 204px;
  letter-spacing: 0;
  line-height: 206px;
}

.desktop-site .i-AM-a-MULTI-3 {
  top: 9331px;
  position: absolute;
  width: 4782px;
  left: 0;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 204px;
  letter-spacing: 0;
  line-height: 206px;
}

.desktop-site .text-wrapper-4 {
  position: absolute;
  width: 2058px;
  top: 6320px;
  left: 0;
  font-family: "Helvetica Now Display-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 330px;
  letter-spacing: 0;
  line-height: 332px;
  white-space: nowrap;
}

.desktop-site .rectangle {
  position: absolute;
  width: 4833px;
  height: 6013px;
  top: -32px;
  left: -32px;
  background-color: #ffffff;
  border: 32px solid;
  border-color: #000000;
}

.desktop-site .mobile-project-tiles {
  position: absolute;
  width: 5058px;
  height: 10208px;
  top: 2974px;
  left: 5408px;
}

.desktop-site .div-wrapper {
  position: absolute;
  width: 2450px;
  height: 2450px;
  top: 2592px;
  left: 16px;
}

.desktop-site .div-2 {
  position: relative;
  width: 2514px;
  height: 2514px;
  top: -32px;
  left: -32px;
  background-color: #ffffff;
  border-radius: 568px;
  border: 32px solid;
  border-color: #000000;
}

.desktop-site .group-4 {
  position: absolute;
  width: 1029px;
  height: 1008px;
  top: 721px;
  left: 710px;
}

.desktop-site .overlap-wrapper {
  position: absolute;
  width: 2450px;
  height: 2450px;
  top: 5167px;
  left: 16px;
}

.desktop-site .overlap-2 {
  position: relative;
  height: 2450px;
}

.desktop-site .mask-group {
  position: absolute;
  width: 2450px;
  height: 2450px;
  top: 0;
  left: 0;
}

.desktop-site .group-5 {
  position: absolute;
  width: 1074px;
  height: 1020px;
  top: 715px;
  left: 788px;
}

.desktop-site .group-6 {
  position: absolute;
  width: 2514px;
  height: 2514px;
  top: 7710px;
  left: -16px;
}

.desktop-site .group-7 {
  position: absolute;
  width: 2450px;
  height: 2450px;
  top: 17px;
  left: 16px;
}

.desktop-site .family-icon {
  position: absolute;
  width: 1510px;
  height: 1511px;
  top: 469px;
  left: 469px;
}

.desktop-site .group-8 {
  position: absolute;
  width: 2514px;
  height: 2514px;
  top: 7710px;
  left: 2560px;
}

.desktop-site .group-9 {
  position: absolute;
  width: 2514px;
  height: 2514px;
  top: 5135px;
  left: 2560px;
}

.desktop-site .group-10 {
  position: absolute;
  width: 2450px;
  height: 2450px;
  top: 2592px;
  left: 2592px;
}

.desktop-site .layer-2 {
  position: absolute;
  width: 1250px;
  height: 1290px;
  top: 580px;
  left: 600px;
}

.desktop-site .group-11 {
  position: absolute;
  width: 2450px;
  height: 2450px;
  top: 17px;
  left: 2591px;
}

.desktop-site .group-12 {
  position: absolute;
  width: 886px;
  height: 1074px;
  top: 709px;
  left: 784px;
}
