main {
    display: inline;
    flex-grow: 1;
    padding: 8px;
}

body {
    font-family: Roboto Mono, monospace;    
    margin: 0;
    padding: 8px;
    display: inline-flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: inherit;

}

h1 , h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;    
    display: block;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 20pt;
}

pre , p {
    font-family: Roboto Mono, monospace;    
    display: block;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 12pt;
}

a:any-link {
    color: #1e1e1e;
    text-decoration-line: none;
    cursor: auto;
}

.logo {
    background-color: inherit;
}

nav button {
    text-decoration-color: #1e1e1e;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 10pt;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

nav button:hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    border-color: #1e1e1e;
    border-radius: 16px;
    text-decoration-color: inherit;
    font-size: 10pt;
    font-weight: bolder ;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

nav button:active {
    text-decoration-color: #1e1e1e;
    background-color: #333;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 10pt;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #1e1e1e;
    border-radius: 16px;
    text-decoration-color: #1e1e1e;
    font-size: 10pt;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

button:hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    border-color: #1e1e1e;
    border-radius: 16px;
    text-decoration-color: inherit;
    font-size: 10pt;
    font-weight: bolder ;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

button:active {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    border-color: #1e1e1e;
    border-radius: 8px;
    text-decoration-color: inherit;
    font-size: 10pt;
    font-weight: bolder ;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

.tile {
    background-color: inherit;
    display: inline-block;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex: 1;
    border-top: 2pt solid;
}

.tile img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.tile .text {
    position: absolute;
    top: 16px;
    left: 0px;
    font-size: 12pt;
}

.tile h1 , h2 , pre  {
    margin: 0px;
    padding: 0px;
    top: 104px;
    left: 24px;
    font-size: 12pt;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex: 1;
    gap: 16px;
}

.tiles img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.tiles .text {
    position: absolute;
    top: 104px;
    left: auto;
    font-size: 12pt;
    align-items: left;
    inline-size: 'start';
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6);
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 16px;
  background-color: #fff;
  text-transform: uppercase;
  color: #1e1e1e;
  font-family: Roboto Mono, monospace;    
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  transition: all .4s;
  overflow-y: auto;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 16px;
  position: fixed;
  max-width: 50%;
  min-width: 360px;
  max-height: 80%;
  background: #ffffff;
  margin: 8px;
  padding: 16px;
  overflow-y: auto;

}

.modal__footer {
  text-align: right;
  a {
    color: #1e1e1e;
  }
  i {
    color: #1e1e1e;
  }
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #1e1e1e;
  text-decoration: none;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 8px;
    overflow-y: auto;
}

.gallery-item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
}

.gallery-item:hover {
    opacity: 0.7;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.photo img {
width: 100%;
height: 100%;
border-radius: 16px;
object-fit: cover;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

.footer {
            position: static ;
            text-align: center;
            padding: 8px;
            background-color: #ffffff;
            font-size: 12px;
        }

.footer a {
            color: #1e1e1e;
            position: static ;
            display: inline-block;
            text-align: center;
            padding: 8px;
            font-size: 12px;
        }

.footer a:hover {
            text-decoration: underline;
        }

@media (max-width: 1024px) {
main {
    display: inline;
    flex-grow: 1;
    padding: 8px;
}
  
h1 , h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;    
    display: flex;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 20pt;
}

pre , p {
    font-family: Roboto Mono, monospace;    
    display: flex;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 12pt;
}

a:any-link {
    color: #1e1e1e;
    text-decoration-line: none;
    cursor: auto;
}

.tile {
    background-color: inherit;
    display: inline-block;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex: 1;
    border-top: 2pt solid;
}

.tile img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.tile .text {
    position: absolute ;
    top: 16px;
    left: 0px;
    font-size: 12pt;
}

.tiles-1 {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.tiles-1 .text {
    position: absolute ;
    top: 16px;
    left: 0px;
    font-size: 12pt;
}

.tiles {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex: 1;
    gap: 16px;


}

.tiles img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.tiles .text {
    position: absolute;
    top: 104px;
    left: auto;
    font-size: 12pt;
    align-items: left;
    inline-size: 'start';
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  transition: all .4s;
  overflow-y: auto;
}
.footer {
            position: static ;
            display: block ;
            text-align: center;
            padding: 8px;
            background-color: #ffffff;
            font-size: 12px;
        }

.footer a {
            color: #1e1e1e;
            position: static ;
            display: block;
            text-align: center;
            padding: 8px;
            font-size: 12px;
        }

.footer a:hover {
            text-decoration: underline;
        }

@media (max-width: 678px) {
main {
    display: inline;
    flex-grow: 1;
    padding: 8px;
}
h1 , h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;    
    display: inline-flex;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 20pt;
}

pre , p {
    font-family: Roboto Mono, monospace;    
    display: inline-flex;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 12pt;
}

a:any-link {
    color: #1e1e1e;
    text-decoration-line: none;
    cursor: auto;
}
    
.tile {
    background-color: inherit;
    display: inline-block;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    flex: 1;
    border-top: 2pt solid;
}

.tile img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.tile .text {
    position: absolute ;
    top: 16px;
    left: 0px;
    font-size: 12pt;
}

.tiles-1 {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.tiles-1 .text {
    position: absolute;
    top: 104px;
    left: auto;
    font-size: 12pt;
    align-items: left;
    inline-size: 'start';
}
.tiles {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    flex: 1;
    gap: 16px;


}

.tiles img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.tiles .text {
    position: absolute;
    top: 104px;
    left: auto;
    font-size: 12pt;
    align-items: left;
    inline-size: 'start';
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  transition: all .4s;
  overflow-y: auto;
}
.footer {
            position: static ;
            text-align: center;
            padding: 8px;
            background-color: #ffffff;
            font-size: 12px;
        }

.footer a {
            color: #1e1e1e;
            position: sticky ;
            display: block;
            text-align: center;
            padding: 8px;
            font-size: 12px;
        }

.footer a:hover {
            text-decoration: underline;
        }
@media (max-width: 320px) {
main {
    display: flex;
    flex-grow: 1;
    padding: 8px;
}
    
h1 , h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;    
    display: inline-flex;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 12pt;
}

pre , p {
    font-family: Roboto Mono, monospace;    
    display: inline-flex;
    padding: auto;
    max-width: 100%;
    text-wrap: auto;
    font-size: 12pt;
}

a:any-link {
    color: #1e1e1e;
    text-decoration-line: none;
    cursor: auto;
}

.logo {
    background-color: inherit;
}

nav button {
    text-decoration-color: #1e1e1e;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 10pt;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

nav button:hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    border-color: #1e1e1e;
    border-radius: 16px;
    text-decoration-color: inherit;
    font-size: 10pt;
    font-weight: bolder ;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

nav button:active {
    text-decoration-color: #1e1e1e;
    background-color: #333;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 10pt;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #1e1e1e;
    border-radius: 16px;
    text-decoration-color: #1e1e1e;
    font-size: 10pt;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

button:hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    border-color: #1e1e1e;
    border-radius: 16px;
    text-decoration-color: inherit;
    font-size: 10pt;
    font-weight: bolder ;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

button:active {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    border-color: #1e1e1e;
    border-radius: 8px;
    text-decoration-color: inherit;
    font-size: 10pt;
    font-weight: bolder ;
    font-family: Roboto Mono, monospace;    
    height: 22pt;
    max-width: 140pt;
}

.tile {
    background-color: inherit;
    display: inline-block;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    flex: 1;
    border-top: 2pt solid;
}

.tile img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.tile .text {
    position: absolute ;
    top: 16px;
    left: 0px;
    font-size: 10pt;
}
.tiles-1 {
    flex: 1;
    max-width: 100%;
    height: auto;
}
.tiles-1 .text {
    position: absolute;
    top: 104px;
    left: auto;
    font-size: 10pt;
    align-items: left;
    inline-size: 'start';
}
.tiles {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    flex: 1;
    gap: 16px;


}

.tiles img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.tiles .text {
    position: absolute;
    top: 104px;
    left: auto;
    font-size: 10pt;
    align-items: left;
    inline-size: 'start';
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  transition: all .4s;
  overflow-y: auto;
}
.footer {
            position: static ;
                font-size: 10pt;
                padding: 8px;
            }

.footer a {
                position: static ;
                margin: 0 5px;
            }